* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #548ca8;
}
.container {
  width: 350px;
  height: 550px;
  background: linear-gradient(to right bottom, #f4f9f9 30%, #ccf2f4, #a4ebf3);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 20px;
}
.icon {
  box-sizing: border-box;
  margin: 60px 0;
}
.icon i {
  width: 100%;
  height: 60px;
  font-size: 60px;
  text-shadow: -10px 15px 10px rgb(143, 139, 139);
  animation: icn infinite forwards 1.5s;
}
@keyframes icn {
  50% {
    font-size: 55px;
  }
}
.srch {
  margin: 30px;
}
.srch input {
  width: 200px;
  height: 40px;
  letter-spacing: 1px;

  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: -7px 7px 15px rgb(143, 139, 139);
}
.inform {
  text-align: center;
}
.inform h1 {
  font-size: 50px;
  margin: 20px;
}
.inform h3 {
  font-size: 25px;
}
.inform p {
  margin: 10px;
  letter-spacing: 1.5px;
}
